*{
    margin: 0;
    padding: 0;
}

body{
    background:#1a1a1a;
}

.one1 {
    margin: 5% auto;
    /* background: red; */
    width: 80%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

}

.one1 img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 5px 2px 12px #ccc,5px 2px 12px #ccc;
}
.one1 .one2{
    margin-top: 20px;
    font-family: MiSans-Bold;
    font-size: 65px;;
    margin-bottom: 20px;
}

.one3{
    font-size: 25px;;
    margin-top: 20px;
}
.li1{
    color: #e1ad3d;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .one1{
        margin: 10% auto;
    }
    .one1 img{
        width: 60%;
        height: 60%;

    }
    body{
        background-image: none;
    }
    .one1 .one2{
        font-size: 35px;
    }
    .one3{
        font-size: 20px;
    }
}